* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 40px;
    font-family: Helvetica, 'Times New Roman';
    background: #FFF9F0;
    color: #493B53;
}

h1 {
    margin-bottom: 30px;
    text-align: center;
    color: #604A6B;
    font-size: 40px;
    font-weight: 800;
}

.container{
    width: 75%;
    margin: auto;
    padding: 50px 50px 20px;
    background-color: #FFFFFF;
    border: 1px, solid #E9DDEC;
    border-radius: 20px;
    box-shadow: 0 5px 20px;
    text-align: center;
}

button{
    padding: 20px;
    border: none;
    margin: 35px;
    color: #e2d5e6;
    background-color: #3b1b42;
    font-size: 19px;
    font: helvetica;
    border-radius: 10px;
    box-shadow: 0 2px  5px#3b1b42;
    transition: all 0.55s ease;
}

button:hover{
    background-color: #FFFFFF;
    box-shadow: 0 6px 15px rgba(114, 86, 129, 0.20);
    color: #3b1b42;
    font-size: 22px;
    font-weight: bold;
    border: 1px solid rgba(114, 86, 129, 0.20);
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    border-radius: 5px;
    background-color: #fcf2f2;
    border: 1px solid #F0E8F1;
}

th,
td {
    padding: 15px;
    border-top: 1px solid #F0E8F1;
    border-bottom: 1px solid #F0E8F1;
    font-size: 16px;
}

tbody tr:nth-child(1) {
    border-bottom: 2px solid #d1c3d3;
}

tbody tr:nth-child(2) {
    border-bottom: 2px solid #8B6F9E;
}
