*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FFF4F1;
    padding: 15px;
    font-family: 'Helvetica', 'Times New Roman'
}
h1{
    margin: 20px;
    font-size: 50px;
    color: #D6455D;
}
h2{
    margin: 20px;
    font-size: 50px;
    color: #722F3E;
}
button {
    border: none;
    outline: none;
    box-shadow: none;
}
.button{
    margin: 10px;
    padding: 15px;
    background-color: #FFF4F1;
    color: #722F3E; 
    transition: all 0.55s ease;
    border-radius: 10px;
    border-color: #722F3E;
}
button:hover{
    color: #FFF4F1;
    background-color: #D6455D;
    border-radius: 10px;
    border-color: #722F3E;
}
table{
    border-radius: 5px;
    background-color: #FFF4F1;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    border: 2px solid #F3B6C2;   
}
.titulo{
    padding: 15px;
    font-weight: bold;
    font-size: 22px;
    color: #772F3E;
}

.sub{
    color: #D6455D;
    padding-bottom: 15px;
}
